# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.log

# Virtual env
.venv/
venv/

# IDE
.idea/
.vscode/

# Data / training artifacts
datasets/
runs/
*.cache

# Weights & big artifacts (נשתמש ב-LFS לקבצים הכבדים, אבל נחסום ברירת מחדל)
weights/*.pt
weights/*.onnx
weights/*.engine
weights/*.bin
weights/*.safetensors